<div id='notebook-show-note'>
  <%= form_for(@note, url: {controller: 'notes', action: 'notebook_update'}) do |f| %> 
    <%= f.hidden_field :id %>
    <%= f.text_field :title, class: "notebook-note-title" %>
    <%= f.text_area :content, class: "notebook-note-content" %>
    <%= f.submit class: "notebook-note-submit" %>
  <% end %> 
</div>
