<div id='note-show-container'>
  <% if @note != nil %>
    <div id='note-update-area'>
      <%= form_for(@note, url: {controller: 'notes', action: 'update'}) do |f| %> 
        <%= f.text_field :id, :value => @note.id %>
        <%= f.text_field :title, :value => @note.title %>
        <%= f.text_area :content, :value => @note.content %>
        <%= f.submit %>
      <% end %>
    </div>
    <div class='note-util'>
      <div>
        <%= link_to "destroy", { :controller => :notes, :action => 'destroy', :id => @note.id }, :method => :delete %>
      </div>
      <div>
        <%= link_to "back", controller: 'home', action: 'index' %>
      </div>
    </div>
  <% end %>
</div>
