<div id='calendar-page-container'>
  <div id='calendar'>
    <div id='calendar-header'>
      <div id='calendar-header-prev'>
        <div id='<%= (@today.month - 1).to_s %>'class='calendar-month-switch'>
          <a>&lt</a>
        </div>
      </div>
      <div id='calendar-header-title'>
        <a><%= @month %></a>
      </div>
      <div id='calendar-header-next'>
        <div id='<%= (@today.month + 1).to_s %>'class='calendar-month-switch'>
          <a>&gt</a>
        </div>
      </div>
    </div>
    <div id='calendar-dates'>
      <table id='calendar-dates-table'>
        <tr>
        <% for i in 0...@month_start_day %>
          <td class='blank-cell'></td>
        <% end %>
        <% for i in @month_start_day...(@days_in_month + @month_start_day)%>
          <% if i % 7 == 0 & i > 0 %>
            <tr>
          <% end %>
          <td id='<%= @today.year.to_s + '-' + @today.month.to_s + '-' + (i + 1 - @month_start_day).to_s %>'>
            <a><%= i + 1 - @month_start_day %></a>
          </td>
          <% if i % 7 == 6 %>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
