<div id='journal-page-container'>
  <div id='journal-entry'>
    <div id=journal-content'>
      <%= form_for(@journal, url: {controller: 'journals', action: 'create_or_update'}) do |f| %>
        <%= f.text_field :title %>
        <%= f.text_field :year, :value => @today.year, :readonly => true %>
        <%= f.text_field :month, :value => @today.month, :readonly => true %>
        <%= f.text_field :day, :value => @today.day, :readonly => true  %>
        <%= f.text_area  :content, :value => @journal.content %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
  <div id='journal-show-link'>
    <%= link_to "->", controller: "journals", action: "show", id: @journal.id, :year => @today.year, :month => @today.month, :day => @today.day %>
  </div>
</div>
