<div id='planner-page-container'>
  <div id='today-tasks'>
    <div id='today-tasks-header'>
      <a>Today's Tasks</a>
    </div>
    <% @today_tasks.each do |note| %>
      <div class='planner-entry'>
        <input type='checkbox' id='<%= note.id %>' class='task-checkbox' /> 
        <%= note.title %>
      </div>
    <% end %>
  </div>
  <div id='upcoming-tasks'>
    <div id='upcoming-tasks-header'>
      <a>Upcoming Tasks</a>
    </div>
    <% @upcoming_tasks.each do |note| %>
      <div class='planner-entry'>
        <input type='checkbox' id='<%= note.id %>' class='task-checkbox' /> 
        <%= note.title %>
      </div>
    <% end %>
  </div>
  <% if @overdue_tasks.count > 0 %>
    <div id='overdue-tasks'>
      <div id='overdue-tasks-header'>
        <a>Overdue Tasks</a>
      </div>
      <% @overdue_tasks.each do |note| %>
        <div class='planner-entry'>
          <input type='checkbox' id='<%= note.id %>' class='task-checkbox' /> 
          <%= note.title %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div id='completed-tasks'>
    <div id='completed-tasks-header'>
      <a>Most Recent Completed Tasks</a>
    </div>
    <% @completed_tasks.each do |note| %>
      <div class='planner-entry'>
        <input type='checkbox' id='<%= note.id %>' class='task-checkbox' checked disabled /> 
        <%= note.title %>
      </div>
    <% end %>
  </div>
  <div id='tasks-util'>
    <div id='add-task-content'>
      <input type='button' value='Add' id='add-task-button'/>
    </div>
    <div id='task-show-link'>
      <%= link_to "<-", controller: "tasks", action: "index" %>
    </div>
  </div>
</div>
