<div id='home-page-container' class='page-container'>
  <div id='home-left-nav' class='home-major-section'>
    <div id='left-nav-container' class='major-section-content'>
      <div id='left-nav-content' class='minor-section-content'>
        <%= render partial: "left_nav", layout: false %>
      </div>
    </div>
  </div>
  <div id='home-left-content' class='home-major-section'>
    <div id='left-content-container' class='major-section-content'>
      <div id='left-top-content' class='minor-section-content'>
        <%= render partial: "tasks_summary", layout: false %>
      </div>
      <div id='left-bottom-content' class='minor-section-content'>
        <%= render partial: "tasks_daily", layout: false %>
      </div>
    </div>
  </div>
  <div id='home-middle' class='home-major-section'>
    <div id='middle-content-container' class='major-section-content'>
      <div id='middle-top-content' class='minor-section-content'>
        <%= render partial: "calendar", layout: false %>
      </div>
      <div id='middle-bottom-content' class='minor-section-content'>
        <%= render partial: "longterm_notes", layout: false %>
      </div>
    </div>
  </div>
  <div id='home-right-content' class='home-major-section'>
    <div id='right-content-container' class='major-section-content'>
      <div id='right-top-content' class='minor-section-content'>
        <%= render partial: "journal", layout: false %>
      </div>
    </div>
  </div>
  <div id='home-right-nav' class='home-major-section'>
    <div id='right-nav-container' class='major-section-content'>
      <div id='right-nav-content' class='minor-section-content'>
        <%= render partial: "right_nav", layout: false %>
      </div>
    </div>
  </div>
</div>
